.actuality-img {
    width: 320px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.actuality-title {
    text-align: center;
    position: relative;
    bottom: 70px;
    width: 80%;
    margin: 0 auto;
    padding: 22px;
    background-color: #fff;
}




