.ActualityList {
    width: 100%;
}

.cards-container {
    display: flex;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.Actuality-social-media {
    display: flex;
    justify-content: center;
}

.ActualityList-title {
    font-size: 180%;
    font-weight: bold;
    margin-left: 430px;
    margin-bottom: 20px;
}

.link-actuality {
    text-align: right;
    margin-bottom: 1%;
    margin-right: 22%;
    margin-left: 22%;
}

.actuality-container {
   display: flex;
   flex-direction: column;
}
