.actuality-img {
    object-fit: cover;
    width: 18vw;
    height: 28vh;
}

.actuality-container {
    display: flex;
    flex-direction: column;
}

.actuality-title {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(134, 131, 131);
}


