.NavBar{
    display: flex;
    margin-bottom: 2%;
}

.navigation-bar{
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.navigation-link{
    text-decoration: none;
    color:white;
    font-size: 160%;
    text-align: center;
}

.navigation-logo{
    padding: 40px;
}

.separation{
    border: 1px solid white ;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
