*{
    box-sizing: border-box;
}
.Shooting {
    margin:3% 10%;

    h1 {
        padding-bottom: 20px;
    }

    p {
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .shooting-container {
        margin-top: 30px;
        width: 100%;
    }
    .decorTitle {
        margin: 20px 0;
        text-transform: uppercase;
    }
}