.FundingList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 14%;
  margin-top: 2%;
  width: 80%;
}

.Funding {
  margin-left: 15%;
  margin-right: 10%;
  width: 80%;
}

.Funding-page {
  margin-bottom: 2%;
}

.funding-main-title {
  margin-bottom: 2%;
  margin-top: 2%;
}

.faq-button {
    border-radius: 20px;
    width: 15%;
    background-color: rgb(211, 211, 211);
}

.funding-column {
  background-color: rgb(211, 211, 211);
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 60px;
  font-size: 120%;
  cursor: pointer;
}

.modalBodyFin {
  width: 20vw;
  height: 20vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.wrapper {
    height: 700px;
    width: 1000px;
    background:#FFFF;
    border: solid 1px black;
    color: black;
    position: absolute;
    top: 260%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 180%;
    font-weight: bold;
    text-align: center;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

p {
    display: flex;
    justify-content: center;
    margin : 2%;
    margin-left: 10%;
    margin-right: 10%;
}

