.Funding {
    text-align: left;
    margin-left: 6%;
    margin-right: 8%;
}

.funding-text {
    margin-left: 6%;
   
}

.Funding-page {
    margin-top: 2%;
    margin-bottom: 2%;
}

.funding-second-title {
    margin-top: 2%;
    margin-bottom: 2%;
}

.funding-columns-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 6%;
    justify-content: center;
}

.funding-column {
    background-color: rgb(189, 188, 188);
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-funding-column-container, .second-funding-column-container, .third-funding-column-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6%;
    font-weight: bold;
    width: 800px;
    height: 200px;
}


