.Funding {
    text-align: left;
    margin-left: 8%;
    margin-right: 10%;
}

.Funding-page {
    margin-top: 2%;
    margin-bottom: 2%;
}

.funding-second-title {
    margin-top: 2%;
    margin-bottom: 2%;
}

.funding-columns-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 6%;
    justify-content: center;
}

.funding-column {
    background-color: rgb(214, 214, 214);
    width: 20%;
}

.first-funding-column-container, .second-funding-column-container, .third-funding-column-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6%;
    font-weight: bold;
    width: 100%;
    height: 17vh;
}


