.image {
    height:40vh;
    width: 100%; 
    object-fit: cover;
}

.image-container-carousel {
    margin-left: 3%;
    margin-right: 3%;
}

.slick-prev:before, .slick-next:before {
    color: white !important;
    background-color: grey;
  }

.text-slider {
    color : black;
    position : fixed;
    height: 100%;
}


